<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.menny.android.anysoftkeyboard">
    <!-- used in QuickTextViewFactory -->
    <uses-sdk tools:overrideLibrary="com.astuetz.pagerslidingtabstrip" />

    <!--<uses-sdk tools:overrideLibrary="android.support.v13" />-->

    <!--<uses-sdk tools:overrideLibrary="com.astuetz.pagerslidingtabstrip, android.support.v13, com.google.android.gms.play_services, com.google.android.gms.ads.impl, com.google.android.gms.ads,-->
     <!--com.google.android.gms, com.google.android.gms.base, com.google.android.gms.tasks, com.google.android.gms.clearcut, com.google.android.gms.gass, com.google.android.gms.analytics,-->
     <!--com.google.android.gms.appinvite, com.google.android.gms.+, com.google.android.gms.auth.api" />-->



    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute" />
    <!-- http://d.android.com/guide/practices/screens_support.html read about legacy. -->

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- REQUIRED FOR AMAZON S3 UPLOAD -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- ADDED FROM VIDEO DIARY -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Added for Mic Record -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />

    <!-- currently, only support touch and fake-touch devices -->
    <uses-feature android:name="android.hardware.faketouch" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:name=".AnyApplication"


        android:persistent="true"

        android:allowBackup="false"
        android:backupAgent="com.anysoftkeyboard.backup.AnyBackupAgent"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_ease"
        android:installLocation="internalOnly"
        android:label="@string/ime_name"
        android:restoreAnyVersion="true"

        android:theme="@style/Theme.AskApp"

        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">



        <!-- used to backup the settings and SQL to the cloud -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAILlrSpiqigog3iJt3BwYxzNXMUzqgGV_dJ1EPDQ" />

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face"/>

        <!-- this is the IME with the pointer to the settings ui (xml/method) -->
        <service
            android:name=".SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <!-- ui activities                android:icon="@mipmap/ic_ask_launcher" -->
        <!-- settings ui activities -->
        <!--
        this is just a proxy activity, it does nothing but direct to the actual setting ativity
        I use this, so I can 'disable' this activity at runtime, and so remove ASK from the launcher's icons
        -->
        <activity
            android:name=".LauncherSettingsActivity"
            android:label="@string/ime_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AskApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.anysoftkeyboard.ui.settings.MainSettingsActivity"
            android:icon="@mipmap/ic_ask_launcher"
            android:label="@string/ime_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AskApp"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.anysoftkeyboard.ui.tutorials.TestersNoticeActivity"
            android:icon="@mipmap/ic_ask_launcher"
            android:label="@string/testers_version"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AskApp.Popup"></activity>
        <!-- ui when a crash happens -->
        <activity
            android:name="com.anysoftkeyboard.ui.SendBugReportUiActivity"
            android:icon="@mipmap/ic_ask_launcher"
            android:screenOrientation="portrait"
            android:label="@string/ime_name"
            android:theme="@style/Theme.AskApp.NoTitle"></activity>
        <!-- for voice -->
        <service android:name="com.google.android.voiceime.ServiceHelper" />

        <activity
            android:name="com.google.android.voiceime.ActivityHelper"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"
            android:documentLaunchMode="never"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.anysoftkeyboard.ui.VoiceInputNotInstalledActivity"
            android:icon="@mipmap/ic_ask_launcher"
            android:screenOrientation="portrait"
            android:label="@string/ime_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Logger UI -->
        <activity
            android:name="com.radicalninja.logger.ui.LoggerInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Logger upload task -->


        <!-- ADDED FROM VIDEO DIARY -->
        <!--android:icon="@drawable/video"-->
        <activity
            android:name="com.radicalninja.logger.MainActivity"

            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <receiver android:name="com.radicalninja.logger.MyBroadCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.radicalninja.logger.AlarmReceiver">
            <intent-filter>
                <action android:name="com.codepath.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.radicalninja.logger.StatsAlarmReceiver">
            <intent-filter>
                <action android:name="com.codepath.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.radicalninja.logger.UploadGPSAlarmReceiver">
            <intent-filter>
                <action android:name="com.codepath.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.radicalninja.logger.MicRecordUploadAlarm">
            <intent-filter>
                <action android:name="com.codepath.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.radicalninja.logger.MusicUploadReceiver">
            <intent-filter>
                <action android:name="com.codepath.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.radicalninja.logger.PhotoUploadReceiver">
            <intent-filter>
                <action android:name="com.codepath.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>

        <receiver android:name="com.radicalninja.logger.IncomingCallListener">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.radicalninja.logger.VideoActivity"
            android:label="@string/title_activity_video"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:parentActivityName="com.radicalninja.logger.MainActivity">
            <intent-filter>
                <action android:name="com.radicalninja.logger.VideoActivity" />

                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.radicalninja.logger.MainActivity" />
        </activity>



        <activity
            android:name="com.radicalninja.logger.AlarmActivity"
            android:label="@string/title_activity_video" />

        <activity
            android:name="com.anysoftkeyboard.ui.settings.setup.FaceDetect"
            android:screenOrientation="portrait">
        </activity>




        <receiver android:name="com.radicalninja.logger.LogUploadTask" />
        <!-- Amazon -->
        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <service android:name="com.radicalninja.logger.StatsJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:exported="true"/>

        <service android:name="com.radicalninja.logger.MusicNotificationListener"

                 android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>